/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* -------------------------------------- */
/* reuseable class */
.padding-10{
    padding: 10px;
}
.btn {
    padding:5px  10px;
    border: none;
    border-radius: 3px;
    color: aliceblue;
}

.bg-red {
    background-color: red;
}
.bg-green {
    background-color: green;
}
.padding-5{
    padding: 5px;
}


/* ------------------------------------------ */
.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(32, 71, 156);
    color: aliceblue;
}
th , td ,table {
    padding: 10px; 
    border-collapse: collapse;
}
tr{   border-bottom: 1px solid black;
}
table{
    width: 100%;
}
td{
text-align: center;
}
input {
    display: flex;
    align-items: flex-start;
}